@model MvcMovieStore.Models.Genre


<h2>Browsing Genre: @Model.Name</h2>
<br />
<table>

    <tr>
        @foreach (var movie in Model.Movies)
        {

        <td style="padding: 50px;">
            <a href="@Url.Action("Details", "Movies", new { id = movie.MovieId })">
                <img alt="@movie.Name" src="@movie.MovieArtUrl" style="width:200px;height:300px;border:2px solid white;" />
                <br />
            </a>
            <br />
            <h4 class="float-left badge badge-default">@movie.Price</h4>
            <p class="float-right btn btn-default">
                @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = movie.MovieId }, "")
            </p>
            <br />
            <h4 class="text-center">@movie.Name</h4>
        </td>
        }
    </tr>

</table>

@section Styles
    {
    <style>
        body {
            background-color: darkgray;
        }
    </style>
}
